@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
.header {
  position: relative;
}
.header__slogan {
  visibility: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.172rem;
  text-align: left;
  color: #ffffff;
}
.header__navbar {
  display: block;
  position: relative;
  width: 98%;
  background-color: #ffffff;
  color: #111111;
  font-family: "Archivo", sans-serif;
  line-height: 0.8rem;
  padding: 1rem;
  transition: box-shadow 0.3s ease-in-out;
}
.header__navbar--expanded {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.header__navbar-menu-icon {
  display: inline-block;
  width: 18px;
  margin-right: 2rem;
  vertical-align: middle;
  cursor: pointer;
}
.header__navbar-menu-icon img {
  width: 100%;
}
.header__navbar-logo {
  display: inline-block;
  text-align: left;
  width: 50%;
  position: relative;
}
.header__navbar-logo-start {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  color: #111111;
  vertical-align: middle;
  margin-right: 1rem;
  padding: 10px 10px;
  box-shadow: 0px 1px 2px 0px rgba(139, 139, 139, 0.2509803922);
  text-align: center;
}
.header__navbar-logo-text {
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 50%;
}
.header__navbar-logo-text-top {
  display: block;
  font-size: 0.7rem;
  font-weight: 700;
}
.header__navbar-logo-text-bottom {
  display: block;
  font-size: 0.7rem;
  color: #111111;
  font-weight: 400;
}
.header__navbar-icons {
  display: inline-block;
  float: right;
}
.header__navbar-icons-icon {
  display: inline-block;
  width: 24px;
  padding-top: 0.1rem;
  margin-left: 1rem;
  margin-right: 0.2em;
  cursor: pointer;
}
.header__navbar-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
  padding-bottom: 1.8rem;
}
.header__navbar-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__navbar-dropdown ul li {
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header__navbar-dropdown ul li a {
  display: block;
  padding-top: 1.5rem;
  padding-left: 1rem;
  color: #111111;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
}
.header__navbar-dropdown ul li a:hover {
  background-color: #BEAD8E;
}
@media only screen and (min-width: 1000px) {
  .header {
    background-color: #222222;
    height: 6.25rem;
  }
  .header__slogan {
    visibility: visible;
    position: absolute;
    left: 12.5%;
    top: 12%;
  }
  .header__navbar {
    position: absolute;
    top: 42px;
    left: 12.5%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
  }
  .header__navbar-menu-icon {
    display: none;
  }
  .header__navbar-logo {
    width: 81%;
  }
  .header__navbar-logo-start {
    width: 80px;
    height: 5rem;
    font-family: "Archivo", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.72rem;
    letter-spacing: 0.175rem;
    text-align: left;
    color: #111111;
    text-align: center;
    vertical-align: middle;
    line-height: 4rem;
    margin-right: 1.5rem;
    box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  }
  .header__navbar-logo-text-top {
    line-height: 1.768rem;
    font-size: 1.625rem;
  }
  .header__navbar-logo-text-bottom {
    line-height: 1.768rem;
    font-size: 1.625rem;
  }
  .header__navbar-icons {
    width: 3.75rem;
    height: 3.75rem;
    text-align: center;
    border: 2px solid rgba(133, 133, 133, 0.3019607843);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    margin-right: 2rem;
  }
  .header__navbar-icons-icon {
    width: 1.5rem;
    display: inline-block;
  }
  .header__navbar-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 17%;
    left: 30%;
    width: auto;
    background: none;
    padding: 0;
    border: none;
  }
  .header__navbar-dropdown ul {
    display: flex;
  }
  .header__navbar-dropdown ul li {
    margin: 0 0.5rem;
  }
  .header__navbar-dropdown ul li a {
    font-family: "Archivo", sans-serif;
    font-size: 1rem;
    line-height: 1.741rem;
  }
  .header__navbar-dropdown ul li a:hover {
    text-decoration: underline;
  }
}

.luxuryExperience {
  background-color: #333333;
  padding: 1rem;
  padding-bottom: 0rem;
  padding-left: 2rem;
  text-align: end;
}
.luxuryExperience-home {
  padding-bottom: 5rem;
}
.luxuryExperience__subtitle {
  font-family: "Archivo", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.175rem;
  text-align: left;
  color: #ffffff;
  max-width: 280px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.luxuryExperience__title {
  font-family: "Old Standard TT", serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: -0.075rem;
  text-align: left;
  color: #ffffff;
  margin-bottom: 2.5rem;
  max-width: 315px;
}
.luxuryExperience__button-tour {
  display: block;
  font-family: "Archivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 0.95rem;
  letter-spacing: 0.175rem;
  color: #ffffff;
  background-color: #BEAD8E;
  padding: 1.5rem 2rem;
  border: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.luxuryExperience__button-tour:hover {
  background-color: #c0a87d;
}
.luxuryExperience__button-learn {
  font-family: "Archivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 0.95rem;
  letter-spacing: 0.175rem;
  color: #ffffff;
  background-color: #333333;
  padding: 1.5rem 2rem;
  border: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  display: block;
  border: 2px solid #686868;
}
.luxuryExperience__button-learn:hover {
  background-color: #686868;
}
.luxuryExperience__footer {
  background-color: #ffffff;
  padding: 1rem;
  display: inline-block;
}
.luxuryExperience__footer__text {
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.0875rem;
  letter-spacing: -0.03rem;
  display: inline;
  text-decoration: none;
}
.luxuryExperience__footer__text:first-child {
  color: #222222;
}
.luxuryExperience__footer__text:last-child {
  color: #BEAD8E;
}

.aboutVideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 1rem;
}
.aboutVideo__videoContainer {
  margin: 0 auto;
  margin-bottom: 2rem;
  position: relative;
}
.aboutVideo__videoContainer__video {
  width: 20.9rem;
  height: 11.625rem;
  border: none;
}
.aboutVideo__videoContainer__playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.aboutVideo__videoContainer__playButton img {
  width: 1.5rem;
  height: 1.5rem;
}
.aboutVideo__text {
  font-family: "Old Standard TT", serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.472rem;
  color: #222222;
  text-align: left;
  letter-spacing: -0.0725rem;
  max-width: 325px;
  text-align: center;
}

.aboutServices {
  display: grid;
  grid-template-columns: repeat(2, 9.875rem);
  grid-template-rows: repeat(2, 9.875rem);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.aboutServices__item {
  width: 9.875rem;
  height: 9.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  cursor: pointer;
}
.aboutServices__item:hover {
  background-color: #BEAD8E;
}
.aboutServices__item:hover .aboutServices__item__text {
  color: #ffffff;
}
.aboutServices__item__icon {
  width: 3.65rem;
  height: 3.16rem;
  margin-bottom: 0.5rem;
  display: block;
}
.aboutServices__item:hover .aboutServices__item__icon {
  display: none;
}
.aboutServices__item__icon-hover {
  display: none;
  width: 3.65rem;
  height: 3.16rem;
  margin-bottom: 0.5rem;
}
.aboutServices__item:hover .aboutServices__item__icon-hover {
  display: block;
}
.aboutServices__item__text {
  font-family: "Archivo", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.875rem;
  letter-spacing: 0.175rem;
  text-align: left;
  color: #222222;
  letter-spacing: 0.15rem !important;
  text-align: center !important;
  transition: color 0.3s ease;
}

.aboutRestaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  padding-bottom: 3rem;
}
.aboutRestaurant__image {
  width: 18.44rem;
  height: 14.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutRestaurant__subtext {
  font-family: "Archivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.023rem;
  letter-spacing: 0.175rem;
  text-align: left;
  color: #777777;
  letter-spacing: 0.175rem;
  padding-right: 10.5rem;
  padding-top: 0.5rem;
}
.aboutRestaurant__title {
  font-family: "Old Standard TT", serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.09rem;
  color: #222222;
  text-align: left;
  letter-spacing: -0.065rem;
  max-width: 300px;
}
.aboutRestaurant__text {
  font-family: "Archivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #777777;
  text-align: left;
  margin-top: 0.5rem;
  max-width: 296px;
}
.aboutRestaurant__button {
  font-family: "Archivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 0.95rem;
  letter-spacing: 0.175rem;
  color: #ffffff;
  background-color: #BEAD8E;
  padding: auto auto;
  border: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem 2.8rem;
  margin-right: 5rem;
}
.aboutRestaurant__button:hover {
  background-color: #c0a87d;
}

.services {
  height: auto;
  width: auto;
}

.servicesBlack {
  background-color: black;
}

.swiper {
  width: 23.4rem;
  height: 18rem;
  background-color: blueviolet;
  position: relative;
}
.swiper__Counter {
  background-color: transparent;
  border: none;
}
.swiper__Counter .swiper-slide {
  font-size: 18px;
  text-align: center;
  padding: 20px;
  height: auto;
  width: 100%;
}
.swiper__Counter .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 20.9rem;
  height: 14.4rem;
}
.swiper__Counter .swiper-pagination-bullet-active {
  background: #BEAD8E;
}
.swiper__HomeImage {
  background-color: transparent;
  border: none;
  height: 26rem !important;
}
.swiper__HomeImage .swiper-slide {
  font-size: 18px;
  text-align: center;
  padding: 20px;
  height: 300px;
  width: 100%;
}
.swiper__HomeImage .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 20.9rem;
  height: 20.9rem;
}
.swiper__HomeImage .swiper-pagination {
  top: 356px !important;
}
.swiper__HomeImage .swiper-pagination-bullet-active {
  background: #BEAD8E;
}
.swiper__HomeRooms {
  background-color: transparent;
  border: none;
  width: 23.4rem;
  height: 40rem;
}
.swiper__HomeRooms .swiper-slide {
  font-size: 18px;
  text-align: center;
  height: auto;
  width: 375px;
  background-color: black;
}
.swiper__HomeRooms .swiper-slide-white {
  background-color: #ffffff !important;
}
.swiper__HomeRooms .swiper-slide__subtitle {
  font-family: "Archivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 0.952rem;
  letter-spacing: 0.175rem;
  text-align: center;
  color: #BEAD8E;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.swiper__HomeRooms .swiper-slide__subtitle-alt {
  font-family: "Archivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 0.952rem;
  letter-spacing: 0.175rem;
  text-align: left;
  color: #777777;
  text-align: center;
  padding-bottom: 2rem;
}
.swiper__HomeRooms .swiper-slide__title {
  font-family: "Old Standard TT", serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: #ffffff;
  text-align: left;
  text-align: center !important;
  padding-bottom: 3rem;
}
.swiper__HomeRooms .swiper-slide__title-alt {
  font-family: "Old Standard TT", serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3.75rem;
  color: #222222;
  text-align: left;
  letter-spacing: -0.075rem;
  padding-bottom: 2rem;
  text-align: center;
  max-width: 339px;
}
.swiper__HomeRooms .swiper-slide__titleAlt {
  padding-top: 2rem;
  font-family: "Old Standard TT", serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.875rem;
  color: #222222;
  text-align: left;
  padding-bottom: 0.5rem;
}
.swiper__HomeRooms .swiper-button-next {
  color: black;
  height: 2em;
  width: auto;
  position: absolute;
  right: 0.5em;
  top: 51%;
  padding: 10px;
  height: 2rem;
  width: 2rem;
  background-color: white;
}
.swiper__HomeRooms .swiper-button-next:hover {
  background-color: #BEAD8E;
}
.swiper__HomeRooms .swiper-button-prev {
  color: black;
  position: absolute;
  left: 0.5em;
  top: 51%;
  background-color: white;
  padding: 10px;
  height: 2rem;
  width: 2rem;
  font-size: 0.6rem;
}
.swiper__HomeRooms .swiper-button-prev:hover {
  background-color: #BEAD8E;
}
.swiper__HomeRooms .swiper-button-prev:after {
  font-size: 0.6rem;
}
.swiper__HomeRooms .swiper-button-next:after {
  font-size: 0.6rem;
}
.swiper__Contact {
  background-color: transparent;
  border: none;
  width: 23.4rem;
  height: 40rem;
}
.swiper__Contact .swiper-slide {
  font-size: 18px;
  text-align: center;
  padding: 20px;
  padding-left: 1rem;
  height: auto;
  width: 375px;
  background-color: black;
}
.swiper__Contact .swiper-slide-white {
  background-color: #ffffff !important;
}
.swiper__Contact .swiper-slide__subtitle {
  font-family: "Archivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 0.952rem;
  letter-spacing: 0.175rem;
  text-align: center;
  color: #BEAD8E;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.swiper__Contact .swiper-slide__subtitle-alt {
  font-family: "Archivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 0.952rem;
  letter-spacing: 0.175rem;
  text-align: left;
  color: #777777;
  text-align: center;
  padding-bottom: 2rem;
}
.swiper__Contact .swiper-slide__title {
  font-family: "Old Standard TT", serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: #ffffff;
  text-align: left;
  text-align: center !important;
  padding-bottom: 3rem;
}
.swiper__Contact .swiper-slide__title-alt {
  font-family: "Old Standard TT", serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3.75rem;
  color: #222222;
  text-align: left;
  letter-spacing: -0.075rem;
  padding-bottom: 2rem;
  text-align: center;
  max-width: 339px;
}
.swiper__Contact .swiper-slide__titleAlt {
  padding-top: 2rem;
  font-family: "Old Standard TT", serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.875rem;
  color: #222222;
  text-align: left;
  padding-bottom: 0.5rem;
}
.swiper__Contact .swiper-button-next {
  color: black;
  height: 2em;
  width: auto;
  position: absolute;
  right: 1em;
  top: 43%;
  padding: 10px;
  height: 2rem;
  width: 2rem;
  background-color: white;
}
.swiper__Contact .swiper-button-next:hover {
  background-color: #BEAD8E;
}
.swiper__Contact .swiper-button-next-alt {
  top: 38% !important;
}
.swiper__Contact .swiper-button-prev {
  color: black;
  position: absolute;
  left: 1em;
  top: 43%;
  background-color: white;
  padding: 10px;
  height: 2rem;
  width: 2rem;
  font-size: 0.6rem;
}
.swiper__Contact .swiper-button-prev:hover {
  background-color: #BEAD8E;
}
.swiper__Contact .swiper-button-prev-alt {
  top: 38% !important;
}
.swiper__Contact .swiper-button-prev:after {
  font-size: 0.6rem;
}
.swiper__Contact .swiper-button-next:after {
  font-size: 0.6rem;
}
.swiper__Menu {
  background-color: transparent;
  border: none;
  width: 25rem;
  height: 30rem;
}
.swiper__Menu .swiper-slide {
  font-size: 18px;
  text-align: center;
  padding: 20px;
  padding-left: 1rem;
  height: auto;
  width: 375px;
  background-color: #ffffff;
}
.swiper__Menu .swiper-button-next {
  color: black;
  height: 2em;
  width: auto;
  position: absolute;
  right: 1em;
  top: 97%;
  padding: 10px;
  height: 2rem;
  width: 2rem;
  background-color: white;
}
.swiper__Menu .swiper-button-next:hover {
  background-color: #BEAD8E;
}
.swiper__Menu .swiper-button-prev {
  color: black;
  position: absolute;
  left: 30em;
  top: 97%;
  background-color: white;
  padding: 10px;
  height: 2rem;
  width: 2rem;
  font-size: 0.6rem;
}
.swiper__Menu .swiper-button-prev:hover {
  background-color: #BEAD8E;
}
.swiper__Menu .swiper-button-prev:after {
  font-size: 0.6rem;
}
.swiper__Menu .swiper-button-next:after {
  font-size: 0.6rem;
}
.swiper__Facilities {
  background-color: black;
  border: none;
  height: 37rem;
}
.swiper__Facilities .swiper-slide {
  font-size: 18px;
  text-align: center;
  padding: 20px;
  height: 40rem;
  width: 100%;
}
.swiper__Facilities .swiper-pagination-bullet {
  background: #ffffff;
}
.swiper__Facilities .swiper-pagination-bullet-active {
  background: #BEAD8E;
}

.aboutCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.aboutCounter__subtext {
  font-family: "Archivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.023rem;
  letter-spacing: 0.175rem;
  text-align: left;
  color: #777777;
  margin-right: 12.5rem;
}
.aboutCounter__title {
  font-family: "Old Standard TT", serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3.75rem;
  color: #222222;
  text-align: left;
  letter-spacing: -0.075rem;
  max-width: 294px;
}
.aboutCounter__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #ffffff;
}
.aboutCounter__item__left {
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}
.aboutCounter__item__left__icon {
  width: 2.5rem;
  height: 2.5rem;
}
.aboutCounter__item__right {
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}
.aboutCounter__item__right__icon {
  width: 2.5rem;
  height: 2.5rem;
}
.aboutCounter__item__center {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  text-align: left;
  width: 10rem;
}
.aboutCounter__item__center__number {
  font-family: "Old Standard TT", serif;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 3.75rem;
  color: #111111;
  text-align: left;
  letter-spacing: -0.112rem;
}
.aboutCounter__item__center__text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  text-align: left;
  color: #777777;
  margin-left: 0.5rem;
}

.footer {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
  padding: 2rem 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  display: inline-block;
  text-align: left;
  margin-right: 8rem;
  position: relative;
}
.footer__logo-start {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  color: #f8f8f8;
  vertical-align: middle;
  margin-right: 0.8rem;
  padding: 13px 20px;
  box-shadow: 0px 1px 2px 0px rgba(139, 139, 139, 0.2509803922);
  text-align: center;
  background-color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
}
.footer__logo__text {
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-family: "Archivo", sans-serif;
  color: #111111;
  width: 50%;
}
.footer__logo__text-top {
  display: block;
  font-size: 1.625rem;
  font-weight: 700;
}
.footer__logo__text-bottom {
  display: block;
  font-size: 1.625rem;
  font-weight: 400;
}
.footer__text {
  padding-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #777777;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  margin-top: 1rem;
  max-width: 342px;
}
.footer__social {
  margin-top: 1rem;
  vertical-align: middle;
}
.footer__social a {
  margin-right: 0.5rem;
  margin-left: 0.7rem;
  padding: 4px 8px;
  padding-top: 17px;
}
.footer__social a:hover {
  background-color: #BEAD8E;
}
.footer__social a img {
  width: 24px;
  height: 24px;
}
.footer__social-tw {
  padding: 4px 8px;
  padding-top: 17px;
  margin-right: 0.2rem !important;
  margin-left: 0.2rem !important;
}
.footer__services {
  margin-top: 2rem;
}
.footer__services-title {
  font-family: "Old Standard TT", serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.footer__services-list {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-start;
}
.footer__services-list-column {
  margin-right: 0.5rem;
}
.footer__services-list-column ul {
  list-style-type: none;
  padding: 0;
}
.footer__services-list-column ul li {
  margin-bottom: 0.5rem;
  margin-top: 1.8rem;
  font-weight: 400;
  color: #777777;
}
.footer__contact {
  margin-top: 2rem;
  margin-right: 7rem;
}
.footer__contact-title {
  font-family: "Old Standard TT", serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.footer__contact-item {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.footer__contact-item img {
  width: 36px;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.footer__contact-item-title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  color: #222222;
}
.footer__contact-item-info {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.035rem;
  text-align: left;
  color: #777777;
}
.footer__copyright {
  margin-top: 2rem;
  text-align: left;
}
.footer__copyright p {
  margin-top: 1.5em;
  font-size: 1rem;
  line-height: 1.16rem;
  font-weight: 700;
  color: #222222;
}

.facilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}
.facilities-black {
  background-color: #222222;
}
.facilities__subtitle {
  font-family: "Archivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 0.952rem;
  letter-spacing: 0.175rem;
  text-align: left;
  color: #777777;
  letter-spacing: 0.175rem;
  margin-bottom: 1.5rem;
}
.facilities__subtitle-alt {
  color: #ffffff;
}
.facilities__title {
  font-family: "Old Standard TT", serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3.75rem;
  color: #222222;
  text-align: left;
  letter-spacing: -0.075rem;
  margin-bottom: 1rem;
}
.facilities__title-alt {
  color: #ffffff;
}
.facilities__container {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.facilities__container-alt {
  opacity: 0.1;
  background-color: white;
}
.facilities__container__icon {
  margin-top: 8rem;
  transition: transform 0.3s ease;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.facilities__container__backgroundIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 7.938rem;
  height: 6.125rem;
}
.facilities__container__title {
  font-family: "Old Standard TT", serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.875rem;
  color: #222222;
  text-align: left;
  letter-spacing: -0.05625rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}
.facilities__container__description {
  color: #777777;
  font-family: "Archivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  max-width: 300px;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=about.css.map */